In [1]:
from sklearn import svm
import pandas as pd
import numpy as np

## 数据预处理

In [2]:
data=pd.read_csv("BLE_RSSI_dataset\iBeacon_RSSI_Labeled.csv")
data.head()
# print(data.info()) #show the information

,location,date,b3001,b3002,b3003,b3004,b3005,b3006,b3007,b3008,b3009,b3010,b3011,b3012,b3013
0,O02,10-18-2016 11:15:21,-200,-200,-200,-200,-200,-78,-200,-200,-200,-200,-200,-200,-200
1,P01,10-18-2016 11:15:19,-200,-200,-200,-200,-200,-78,-200,-200,-200,-200,-200,-200,-200
2,P01,10-18-2016 11:15:17,-200,-200,-200,-200,-200,-77,-200,-200,-200,-200,-200,-200,-200
3,P01,10-18-2016 11:15:15,-200,-200,-200,-200,-200,-77,-200,-200,-200,-200,-200,-200,-200
4,P01,10-18-2016 11:15:13,-200,-200,-200,-200,-200,-77,-200,-200,-200,-200,-200,-200,-200

In [3]:
from sklearn import preprocessing
#将date由string对应成number
le = preprocessing.LabelEncoder()
data['date']=le.fit_transform(data['date'])
#将location由string对应成number

le = preprocessing.LabelEncoder()
data['location']=le.fit_transform(data['location'])

data.head()
list(le.classes_)

['D13',
 'D14',
 'D15',
 'E15',
 'F08',
 'G15',
 'I01',
 'I02',
 'I03',
 'I04',
 'I05',
 'I06',
 'I07',
 'I08',
 'I09',
 'I10',
 'I15',
 'J01',
 'J02',
 'J03',
 'J04',
 'J05',
 'J06',
 'J07',
 'J08',
 'J10',
 'J15',
 'K01',
 'K02',
 'K03',
 'K04',
 'K05',
 'K06',
 'K07',
 'K08',
 'L01',
 'L02',
 'L03',
 'L04',
 'L05',
 'L06',
 'L08',
 'L09',
 'L15',
 'M01',
 'M02',
 'M03',
 'M04',
 'M05',
 'M06',
 'N01',
 'N02',
 'N03',
 'N04',
 'N05',
 'N06',
 'N15',
 'O01',
 'O02',
 'O03',
 'O04',
 'O05',
 'O06',
 'P01',
 'P02',
 'P03',
 'P04',
 'P05',
 'P06',
 'P15',
 'Q01',
 'Q02',
 'Q03',
 'Q04',
 'Q05',
 'Q06',
 'R01',
 'R02',
 'R03',
 'R04',
 'R05',
 'R06',
 'R15',
 'S01',
 'S02',
 'S03',
 'S04',
 'S05',
 'S06',
 'S07',
 'S08',
 'S15',
 'T01',
 'T03',
 'T04',
 'T05',
 'T15',
 'U01',
 'U02',
 'U03',
 'U04',
 'U05',
 'U15',
 'V15',
 'W15']

In [4]:
from sklearn.model_selection import train_test_split

X=data.drop(['location','date'],axis=1)
X_mean=X.mean(axis=0) #均值代替缺失值
for row in X:
    for col in X.index:
        if X[row][col]==-200:
            X[row][col]=X_mean[row]
X.head()

,b3001,b3002,b3003,b3004,b3005,b3006,b3007,b3008,b3009,b3010,b3011,b3012,b3013
0,-197,-156,-175,-164,-178,-78,-195,-191,-197,-197,-197,-197,-196
1,-197,-156,-175,-164,-178,-78,-195,-191,-197,-197,-197,-197,-196
2,-197,-156,-175,-164,-178,-77,-195,-191,-197,-197,-197,-197,-196
3,-197,-156,-175,-164,-178,-77,-195,-191,-197,-197,-197,-197,-196
4,-197,-156,-175,-164,-178,-77,-195,-191,-197,-197,-197,-197,-196

In [5]:
y=data['location']
X_train, X_test, y_train, y_test = train_test_split(X, y,random_state=0)
clf = svm.SVC(gamma=0.0115, decision_function_shape='ovo')
clt=clf.fit(X_train,y_train) 
clf.score(X_train,y_train)#测试训练集得分 
#过拟合 但是这样测试集的得分也算是比非过拟合时高

0.38497652582159625

In [6]:
clf.score(X_test,y_test)#测试测试集得分

0.2507042253521127

In [7]:
data=pd.read_csv("BLE_RSSI_dataset\iBeacon_RSSI_Unlabeled.csv")
data=data.drop(['location'],axis=1)
#将date由string对应成number
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
data['date']=le.fit_transform(data['date'])
data.head()

,date,b3001,b3002,b3003,b3004,b3005,b3006,b3007,b3008,b3009,b3010,b3011,b3012,b3013
0,581,-200,-200,-80,-200,-77,-56,-81,-200,-200,-200,-200,-200,-200
1,580,-200,-200,-80,-200,-78,-56,-200,-200,-200,-200,-200,-200,-200
2,579,-200,-200,-81,-200,-74,-63,-200,-200,-200,-200,-200,-200,-200
3,578,-200,-200,-200,-200,-75,-56,-200,-200,-200,-200,-200,-200,-200
4,577,-200,-200,-200,-200,-82,-56,-200,-200,-200,-200,-200,-200,-200

In [8]:
clf.predict(data)

ValueError: X.shape[1] = 14 should be equal to 13, the number of features at training time