In [1]:
from sklearn.ensemble import RandomForestClassifier
import pandas as pd
import numpy as np

C:\Users\xsy\Anaconda3\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [2]:
data=pd.read_csv("BLE_RSSI_dataset\iBeacon_RSSI_Labeled.csv")

data.head()
# print(data.info()) #show the information

,location,date,b3001,b3002,b3003,b3004,b3005,b3006,b3007,b3008,b3009,b3010,b3011,b3012,b3013
0,O02,10-18-2016 11:15:21,-200,-200,-200,-200,-200,-78,-200,-200,-200,-200,-200,-200,-200
1,P01,10-18-2016 11:15:19,-200,-200,-200,-200,-200,-78,-200,-200,-200,-200,-200,-200,-200
2,P01,10-18-2016 11:15:17,-200,-200,-200,-200,-200,-77,-200,-200,-200,-200,-200,-200,-200
3,P01,10-18-2016 11:15:15,-200,-200,-200,-200,-200,-77,-200,-200,-200,-200,-200,-200,-200
4,P01,10-18-2016 11:15:13,-200,-200,-200,-200,-200,-77,-200,-200,-200,-200,-200,-200,-200

In [3]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
#将date由string对应成number
le = preprocessing.LabelEncoder()
data['date']=le.fit_transform(data['date'])
le = preprocessing.LabelEncoder()
data['location']=le.fit_transform(data['location'])

In [4]:
from sklearn.model_selection import train_test_split

X=data.drop(['location','date'],axis=1)
# X_mean=X.mean(axis=0) #均值代替缺失值
# for row in X:
#     for col in X.index:
#         if X[row][col]==-200:
#             X[row][col]=X_mean[row]

In [5]:
y=data['location']
X_train, X_test, y_train, y_test = train_test_split(X, y,random_state=0)
clf = RandomForestClassifier(n_estimators=10)
clt=clf.fit(X_train,y_train) 

clf.score(X_test,y_test)#测试测试集得分

0.27605633802816903

In [6]:
clf.score(X_train,y_train)#测试训练集得分

0.5915492957746479

In [7]:
data=pd.read_csv("BLE_RSSI_dataset\iBeacon_RSSI_Unlabeled.csv")

le = preprocessing.LabelEncoder()
data['date']=le.fit_transform(data['date'])
data.head()

,location,date,b3001,b3002,b3003,b3004,b3005,b3006,b3007,b3008,b3009,b3010,b3011,b3012,b3013
0,?,581,-200,-200,-80,-200,-77,-56,-81,-200,-200,-200,-200,-200,-200
1,?,580,-200,-200,-80,-200,-78,-56,-200,-200,-200,-200,-200,-200,-200
2,?,579,-200,-200,-81,-200,-74,-63,-200,-200,-200,-200,-200,-200,-200
3,?,578,-200,-200,-200,-200,-75,-56,-200,-200,-200,-200,-200,-200,-200
4,?,577,-200,-200,-200,-200,-82,-56,-200,-200,-200,-200,-200,-200,-200

In [8]:
data=data.drop(['location','date'],axis=1)

In [9]:
n=clf.predict(data)
n

array([49, 49, 55, ...,  9,  9,  9], dtype=int64)